<!DOCTYPE html>
<html>
<head>
<title>软件自查结果报告</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<script type="text/javascript" src="../static/easyui/jquery.min.js"></script>
<script type="text/javascript" src="../static/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../static/easyui/locale/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript" src="../static/js/find.js"></script>
<link rel="stylesheet" type="text/css" href="../static/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" />


<style>
  .datagrid-cell{
    font-size:20px;
  }
  .datagrid-header{
    font-size:20px;
  }
</style>


</head>
<body>
<input type="text" class="textbox" name="guid" value={{guid}} style="display:none;">
<h1>软件自查结果报告：</h1>
<table id="box"   class="easyui-datagrid" style="width:550px;height:250px"  rownumbers="true" fitColumns="true" singleSelect="true">
<thead>
    <tr>
        <th field="Computer">计算机名</th>
        <th field="UserName">登陆账号</th>
        <th field="Mac" >Mac地址</th>
        <th field="FileName">文件名</th>
        <th field="FilePath">文件路径</th>
    </tr>
</thead>
<tfoot>
</table>
<font size="2">{{StartOn}}~{{EndOn}},执行{{execMinute}}分钟</font>

</body>
</html>