<!DOCTYPE html>
<html>
<head>
<title>jQuery Easy UI</title>
<meta charset="UTF-8" />
<script type="text/javascript" src="../static/easyui/jquery.min.js"></script>
<script type="text/javascript" src="../static/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../static/easyui/locale/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript" src="../static/js/find.js"></script>
<link rel="stylesheet" type="text/css" href="../static/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" />

<style type="text/css">
body{ font-size:12px; line-height:24px;}
.exp1{font-size:12px;}
.exp2{font-size:xx-small;}
.exp3{font-size:small;}
.exp4{font-size:x-large;}
.exp5{font-size:larger;}
.exp6{font-size:smaller;}
.exp7{font-size:50%;}
.exp8{font-size:150%;}
</style>

</head>
<body>
<input type="text" class="textbox" name="guid" style="width:110px" value={{guid}}>
<h1>软件自查结果报告：</h1>
<table id="box" class="exp5"></table>

</body>
</html>